name: Deploy Frontend

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    # 1. Install & Build di GITHUB (Bukan di VPS)
    - name: Install and Build
      run: |
        npm install
        npm run build
      # Output build biasanya folder 'dist' atau 'build'. Cek vite configmu.

    # 2. Upload Folder Hasil Build ke VPS
    - name: Deploy to VPS
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.VPS_HOST }}
        username: ${{ secrets.VPS_USERNAME }}
        key: ${{ secrets.VPS_SSH_KEY }}
        source: "dist/*" # Ambil isi folder build
        target: "/var/www/uigtc-fe" # Pastikan folder ini ada di VPS
        strip_components: 1 # Supaya folder 'dist' nya tidak ikut tercopy, isinya saja
        overwrite: true